* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-page {
  min-height: 100vh;
  background: linear-gradient(90deg, #ffffff 40%, #f1e8ff 100%);
  padding: 30px 60px;
}


.login-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  color: #111827;
}

.nav-links .active {
  color: #2563eb;
  font-weight: 600;
}


.login-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.login-form-box {
  width: 420px;
}

.login-title {
  color: #2563eb;
  margin-bottom: 20px;
}


.toggle-box {
  background: #eef2ff;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  width: 260px;
  margin-bottom: 15px;
}

.toggle-btn {
  flex: 1;
  padding: 10px 0;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #374151;
}

.toggle-btn.active {
  background: #3b82f6;
  color: #fff;
}

.login-subtext {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 20px;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form label {
  font-size: 13px;
  color: #111827;
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  outline: none;
}

.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  cursor: pointer;
}


.login-btn {
  margin-top: 12px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #2563eb, #60a5fa);
  color: white;
  font-weight: 600;
  cursor: pointer;
}


.signup-text {
  margin-top: 14px;
  font-size: 13px;
  color: #374151;
}

.signup-text span {
  color: #2563eb;
  cursor: pointer;
}


.or-divider {
  text-align: center;
  margin: 18px 0;
  color: #9ca3af;
}


.social-icons {
  display: flex;
  gap: 15px;
}

.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.facebook { color: #1877f2; }
.google { color: #ea4335; }
.apple { color: #000; }


.support-text {
  margin-top: 20px;
  font-size: 13px;
  color: #6b7280;
}

.support-text span {
  color: #2563eb;
  cursor: pointer;
}


.login-image-box img {
  width: 430px;
}
