.kpi-card{
  background:#fff;
  padding:16px;
  border-radius:12px;
  display:flex;
  align-items:center;
  gap:12px;
  box-shadow:var(--card-shadow);
  cursor:pointer;
  font-weight:600;
  height: 124px;
  width: 250;
  color: #679fd2;;
  transition:all .12s ease;
}
.kpi-card:hover {
color:var(--brand-blue);
transform:translateY(-3px)
}
.kpi-icon {
width:22px;
height:22px
}
